/* App Style */
html, body {
    padding: 0;
    margin: 0;
}

#wrap-content {
    margin-top: 100px;
}

table.table tbody tr td {
    padding-top: 15px;
    padding-bottom: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

/* LISTA PRODUTOS */
.panel.produto .panel-body {
    overflow: hidden;
    min-height: 200px;
}
.panel.produto img {
    margin: 0 auto !important;
    max-height: 180px;
}
.panel.produto .nome, .panel.produto .preco {
    display: block;
    margin-top: 5px;
}
.panel.produto .preco {
    font-weight: bold;
    letter-spacing: 1px;
}
#main-search {
    border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    -webkit-border-radius: 40px !important;
}
/* END LISTA PRODUTOS */
