/* App Style */
html, body {
    padding: 0;
    margin: 0;
}

#wrap-content {
    margin-top: 50px;
}

table.table tbody tr td {
    padding-top: 15px;
    padding-bottom: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

/* LISTA PRODUTOS */
.panel.produto .panel-body {
    overflow: hidden;
    height: 240px;
    max-height: 240px;
    text-overflow: ellipsis;
}
.panel.produto img {
    margin: 0 auto !important;
    max-height: 180px;
}
.panel.produto .nome, .panel.produto .preco {
    display: block;
    margin-top: 5px;
    text-overflow: ellipsis;
}
.panel.produto .preco {
    font-weight: bold;
    letter-spacing: 1px;
}
#main-search {
    border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    -webkit-border-radius: 40px !important;
}
/* END LISTA PRODUTOS */

.table-row-selected-default {
    background-color: yellow;
}

/* OVERRIDE BOOTSTRAP */
.badge.badge-danger {
    background-color: #d9534f;
}
.badge.badge-warning {
    background-color: #f0ad4e;
}
.badge.badge-info {
    background-color: #5bc0de;
}
.badge.badge-success {
    background-color: #5cb85c;
}
.badge.badge-primary {
    background-color: #337ab7;
}
/* END OVERRIDE BOOTSTRAP */
