<div class="container">
    <div class="row">
        <h2 class="text-center page-header">Carrinho de compras</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="5%" class="text-center" nowrap>#</th>
                        <th>Produto</th>
                        <th class="text-center" width="15%">Preço</th>
                        <th class="text-center" width="6%">Quantidade</th>
                        <th class="text-center" width="15%">Total</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="6" class="text-right">
                            <div class="btn-group" role="group">
                                <button ng-disabled="!produtosSelecionados.length" type="button" class="btn btn-danger"><i class="fa fa-remove"></i> Remover selecionados</button>
                                <button ng-disabled="!produtosNoCarrinho.length" ng-click="efetuarCheckout()" type="button" class="btn btn-success"><i class="fa fa-check"></i> Efetuar compra</button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="produto in produtosNoCarrinho" ng-class="{ 'table-row-selected-default': produto.selecionado }">
                        <td class="text-center"><input type="checkbox" ng-click="selecionaProduto($event, produto)" ng-model="produto.selecionado" value="[[ produto.id ]]"></td>
                        <td>[[ produto.nome ]]</td>
                        <td class="text-center">[[ produto.preco | currency ]]</td>
                        <td><input type="number" class="form-control" ng-model="produto.quantidade"></td>
                        <td class="text-center">[[ (produto.quantidade * produto.preco) | currency ]]</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-right">
                            <strong>TOTAL: </strong>[[ getTotal() | currency ]]
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
