<div class="container">
    <div class="row">
        <div class="col-lg-3 col-xs-12">
            <h4 class="page-header text-center">Categorias</h4>

            <div class="list-group">
                <a ui-sref="home({ cat: [[ categoria.id ]] })" class="list-group-item" ng-repeat="categoria in categorias">
                    [[ categoria.nome ]]
                </a>
            </div>
        </div>

        <div class="col-lg-9 col-xs-12">
            <h4 class="page-header text-center">Produtos</h4>

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="form-group">
                        <input ng-keyup="filtraBusca($event, $event.keyCode)" type="text" id="main-search" class="form-control" placeholder="Buscar produto" value="" autocomplete="off">
                        <small class="help-block text-center">Pressione "ENTER" para realizar a busca</small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-4 col-xs-6" ng-repeat="produto in produtos">
                    <div class="panel panel-default produto">
                        <div class="panel-body text-center">
                            <img src="/assets/img/no-image.png" alt="IMG" class="img-responsive img-rounded" />
                            <a title="[[ produto.nome ]]" href="#" class="nome">[[ produto.nome ]]</a>
                            <span class="preco">[[ produto.preco | currency ]]</span>
                        </div>

                        <div class="panel-footer">
                            <button ng-click="addProduto(produto)" type="button" class="btn btn-block btn-primary"><i class="fa fa-plus"></i> Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
